/* Seu Portfólio Web deve ser estilizado usando as informações a seguir:
Defina fontes diferentes para o seu nome e para a descrição que você criou;

Defina uma cor base de background do seu Portfólio Web;

Altere o estilo das tags que você usou para destacar algumas informações, como sua nacionalidade e a cidade/estado onde mora;

Coloque tamanhos diferentes para os elementos da lista de habilidades que você criou. Lembre-se de usar classes para cada um dos elementos; */

#nome {
    font-family: 'Courier New', Courier, monospace;
}

#quem {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

body {
    background-color: adc178;
}

.primeiro {
    font-size: 18px;
}

.segundo {
    font-size: 18px;
}

.terceiro {
    font-size: 18px
}

.quarto {
    font-size: 18px
}

